<section  id="service">
  <div class="container">
    <h2>Skills</h2>
	<h6></h6>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-md-3">
		<div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-windows"></i></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">Application Development</h3>
            <p class="animated fadeInDown wow">Keen sense and outstanding experience in building PWA </p>
          </div>
        </div>
        <div class="col-md-3"> 
		<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-database"></i></span> </div> 
		<div class="service_block">
            <h3 class="animated fadeInUp wow">Database Development/ Management</h3>
            <p class="animated fadeInDown wow"> MySQL, PostgreSQL and MS SQL ,NoSQL database in Redis, MongoDB, Firestore. </p>
          </div>
        </div>
        <div class="col-md-3">
		<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-users"></i></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">Team Work</h3>
            <p class="animated fadeInDown wow">Reliable Communication, Familiar with DevOps using Git,Bitbuchet,Docker, Jenkins</p>
          </div>
        </div>
		  <div class="col-md-3">
		<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-cogs"></i></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">Project Management</h3>
            <p class="animated fadeInDown wow">Familiar in using Atlassian Jira, Trello and monday.com </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>