<section id="experience" class="timeline">
  <div class="container">
     <h2>Education</h2>
      <div class="qa-message-list" id="wallmessages">
            <div class="message-item" id="m16">
            <div class="message-inner">
              <div class="message-head clearfix"> 
                <div class="user-detail">
                  <h5 class="handle">Araxa Planalto University</h5>
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-what"></span>
                      <span class="qa-message-when">
                        <span class="qa-message-when-data">2014-2108</span>
                      </span> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="qa-message-content">
                While studying in the university, I began the life as as developer with PHP,HTML/CSS/Boostrap.
                Also I specialised JS frameworks/libs such as ReactJS, Angular, Vue and established enough experience in building gorgeous Web pages.
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="container">
      <h2>Employee Experience</h2>
       <div class="qa-message-list" id="wallmessages">
               <div class="message-item" id="m16">
               <div class="message-inner">
                 <div class="message-head clearfix"> 
                   <div class="user-detail">
                     <h5 class="handle">Bit Pagg</h5>
                     <div class="post-meta">
                       <div class="asker-meta">
                         <span class="qa-message-what"></span>
                         <span class="qa-message-when">
                           <span class="qa-message-when-data">Aug 2014-Apr 2016</span>
                         </span> 
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="qa-message-content">
                   I worked as an intern and established experience in back end developement using ASP.NET, .NET core, NodeJS, Django.
                 </div>
             </div></div>
             
             <div class="message-item" id="m9">
               <div class="message-inner">
                 <div class="message-head clearfix"> 
                   <div class="user-detail">
                     <h5 class="handle">OurBox.io</h5>
                     <div class="post-meta">
                       <div class="asker-meta">
                         <span class="qa-message-what"></span>
                         <span class="qa-message-when">
                           <span class="qa-message-when-data">May 2016 - Apr 2019</span>
                         </span> 
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="qa-message-content">
                   The best experience, working as a full stack developer, obtain new tech such as DevOps, Project Management, teamwork, DB administration.
                 </div>
             </div></div>
             
             <div class="message-item" id="m7">
               <div class="message-inner">
                 <div class="message-head clearfix"> 
                   <div class="user-detail">
                     <h5 class="handle">Freelancing</h5>
                     <div class="post-meta">
                       <div class="asker-meta">
                         <span class="qa-message-what"></span>
                         <span class="qa-message-when">
                           <span class="qa-message-when-data">Apr 2019 - Present</span>
                         </span> 
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="qa-message-content">
                   Currently I have been buckling down to obtain top tech such as AI, BlockChain.
                 </div>
             </div></div>      
     </div>
   </div>
  </section>