<section id="aboutUs"><!--Aboutus-->
  <div class="inner_wrapper aboutUs-container fadeInLeft animated wow">
    <div class="container">
      <h2>About Me</h2>
    <h6>Are you seeking an experienced and expert developer? Please stop by my profile and hire me.</h6>
      <div class="inner_section"> 
      <div class="row">
              <div class="col-lg-12 about-us">
                <div class="row">
                  <div class="col-md-6">
                    <h3>I am a Full stack developer with passion</h3>
                    <p>     
                       6 years of experience in web development. Owning stable,extensive experience and knowledge.
                    </p>
                    <p>
                        Never intimidated by challenges or difficulties and love to overcome them.
                    </p>
                    <ul class="about-us-list">
                      <li class="points">Always be based on a basic principle of respecting Client' opinion.</li>
                      <li class="points">Enure Reliable, regular communicate.</li>
                      <li class="points">Focus on Top quality / speed service, enough testing to assure robust and bug free project</li>
                      <li class="points">Meet the tight deadline without fail.</li>
                      <li class="points">Eager to learn new technique and go on studying.</li>
                    </ul><!-- /.about-us-list -->
                   
                  </div><!-- /.col-md-6 -->
                  
                <div class="col-md-6">
                <!-- <p>
                       Currently I have been working focusing on building web site using JS frameworks / Libs such as Angular , ReactJS, VueJS, NodeJS, CubeJS, Chart.JS, Backbone.JS
                    </p><br/><br/> -->
                      <div class="barWrapper">
                        <h3>FrontEnd Skill</h3>
                     <span class="progressText"><B>HTML/CSS</B></span>
                    <div class="progress">
                      <div class="progress-bar front" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >   
                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="100%"> </span>     
                    </div>
                    </div>
  
                    <div class="barWrapper">
                     <span class="progressText"><B>Boostrap/Jquery</B></span>
                    <div class="progress ">
                      <div class="progress-bar front" role="progressbar" aria-valuenow="95" aria-valuemin="10" aria-valuemax="100">
                       <span  class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>  
                      </div>
                      
                    </div>
                    </div>
  
                    <div class="barWrapper">
                     <span class="progressText"><B>ReactJS</B></span>
                    <div class="progress">
                      <div class="progress-bar front" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                       <span  class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>  
                      </div>
                    </div>
                    </div>
                    <div class="barWrapper">
                     <span class="progressText"><B>Angular6/7/8, VueJS</B></span>
                    <div class="progress">
                      <div class="progress-bar front" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                         <span  class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>  
                      </div>
                    </div>
                    </div> 
  
                    </div>

                    <div class="barWrapper">
                        <h3>BackEnd Skill</h3>
                      <span class="progressText"><B>Node.JS / Express.JS</B></span>
                     <div class="progress">
                       <div class="progress-bar back" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >   
                         <span  class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>     
                     </div>
                     </div>
   
                     <div class="barWrapper">
                      <span class="progressText"><B>Django / Flask</B></span>
                     <div class="progress ">
                       <div class="progress-bar back" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100">
                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>  
                       </div>
                       
                     </div>
                     </div>
   
                     <div class="barWrapper">
                      <span class="progressText"><B>ASP.NET / .NET Core</B></span>
                     <div class="progress">
                       <div class="progress-bar back" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span  class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>  
                       </div>
                     </div>
                     </div>
                     <div class="barWrapper">
                      <span class="progressText"><B>PHP Frameworks / CMS</B></span>
                     <div class="progress">
                       <div class="progress-bar back" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                          <span  class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>  
                       </div>
                     </div>
                     </div> 
   
                     </div>
                </div><!-- /.col-md-6 -->
                </div><!-- /.row -->	
              </div><!-- /.col-lg-12 -->
            </div>
        
      </div>
    </div> 
    </div>
  </section>