<section id="hero_section" class="top_cont_outer">
  <div class="hero_wrapper">
   

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="../../assets/img/profile-pic.png" style="margin-left:0;max-width:140px">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://webthemez.com"><strong>Mateus</strong></a>
                    </div>
                    <div class="desc"><h3>Senior Web Developer</h3></div>
                    <div class="desc">
						   <p>
							  I am from planet with a passion of Web Development. <br/>
							  I specialise in standards compliant websites with a focus on usability. <br/>
							  Enthusiastic about life, development and innovation. </p>
					</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                        <div class="underline"></div>             
              <ul class="social_links">
            <li class="twitter animated bounceIn wow delay-02s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li class="facebook animated bounceIn wow delay-03s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <li class="pinterest animated bounceIn wow delay-04s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
            <li class="gplus animated bounceIn wow delay-05s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li> 
          </ul> 
                </div>
            </div>
 

    <div class="container" style="display:none">
      <div class="hero_section">
        <div class="row">
          <div class="col-md-12">
		   
            <div class="top_left_cont intro zoomIn wow animated"> 
              <h2>Hi! I’m Sam Doe<br> <strong>UX DESIGNER</strong></h2>
              <p>
			  I am from planet with a passion of Web, Graphic and Interactive design. <br/>
			  I specialise in standards compliant websites with a focus on usability. <br/>
              Enthusiastic about life, design and innovation. </p>
                <div class="underline"></div>             
              <ul class="social_links">
            <li class="twitter animated bounceIn wow delay-02s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li class="facebook animated bounceIn wow delay-03s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <li class="pinterest animated bounceIn wow delay-04s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
            <li class="gplus animated bounceIn wow delay-05s animated" style="visibility: visible; animation-name: bounceIn;"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li> 
          </ul> </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>