<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
    <h2>Testimonial</h2>
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing.</h6>
	  	
		<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      
      <div class="col-md-3 centered"> <img class="img img-circle lt-box" src="../../assets/img/team01.jpg" height="120px" width="120px" alt="">
        <div class="rt-box"><h4><strong>Rosy Illue</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor.</p><br/>
		</div>
       </div>
         <div class="col-md-3 centered"> <img class="img img-circle lt-box" src="../../assets/img/team02.jpg" height="120px" width="120px" alt="">
        <div class="rt-box"><h4><strong>Nissy Yukjk</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor.</p><br/>
		</div>
       </div>
	      <div class="col-md-3 centered"> <img class="img img-circle lt-box" src="../../assets/img/team03.jpg" height="120px" width="120px" alt="">
        <div class="rt-box"><h4><strong>Fsdf Efffl</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor.</p><br/>
		</div>
       </div>
	      <div class="col-md-3 centered"> <img class="img img-circle lt-box" src="../../assets/img/team04.jpg" height="120px" width="120px" alt="">
        <div class="rt-box"><h4><strong>Mnin Nulk</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor.</p><br/>
		</div>
       </div>
   
    </div>
  </div>
  <!-- row --> 
</div>
	</div>
</section>